@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

html,body{
  margin:0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

h2{
  font-family:'Playfair Display', serif;
  font-size: 200%;
  font-weight: 700;
  color: #2C2C2C;
  text-align: center;
  text-decoration:underline;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}

thead{
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 200%;
  font-weight: 500;
}

p{
  font-family: 'Raleway', serif;
  font-size: 150%;
  font-weight: 300;
  line-height: 180%
  color: #2C2C2C;
  text-align:justify;
  color: white;
}



.intro{
  width:100%;
  height:50%;
  margin: 0;
  background: url(Photos/Cover.png);
  background-size:cover;
  background-position: bottom;
}

.intro .inner{
  text-align:center;
  width: 100%;
  max-width: none;

}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family:'Playfair Display', serif;
  font-size: 400%;
  font-weight: 1000;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 250px #000;
  padding-top: 100px;

}

.content h2{
  margin-top: 0px;
  color: #FFF;
  text-align: center;
  font-size:200%;
  text-decoration: none;
}

.inner{
  max-width: auto;
  margin: auto;
  font-size: 140%;
  line-height: 1.6;
}

.footer p{
  text-align: center;
  font-size: 90%;
  font-family: "Raleway";
  color: white;
}

.navigation table{
  align: center;
  width: 100%;
  margin: 0;
  font-size: 60%;
  text-decoration: none;
}

.menu table{
  align: center;
  width:100%;
  font-size: 80%;
  text-decoration: underline;
  text-decoration-color: white;
}

.menu{
  background-color: none;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 55px;
  text-align: center;
}

#contact p{
  font-family: "Raleway";
  display: inline;
  text-indent: 5%;
  te
}


img.icon{
  height: 50px;
  weight: 50px;
  margin-left:90px;
}

hr{
  color:white;
}

img.vietnam_map{
  display: flex;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  left:50%;
}

img.vietnam_map:hover{
  opacity: 50%;
}

.map{
  margin-top:50px;
  margin-bottom:70px;
}

a{
  color: white;
  text-decoration: none;
}

a:visited{
  color:white;
  text-decoration: white;
}

a:hover{
  opacity:50%;
}

#gallery{
  margin-top:20px;
  margin-bottom:50px;
}

.photo_container{
  margin: 0 20px 0 20px;
  display:inline-block;
  height:auto;
}

.image{
  width: 49%;
  margin-left:10px;
  margin_right:10px;
  display:inline-block;
  position: relative;
}

img.photo{
  max-width: 100%;
  height: 640px;
  object-fit: cover;
  position: relative;
}

.caption{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:20%;
  display:flex;
  flex-direction:column;
  align-items: center;
  opacity:0;
  font-size: 130%;
  color:black;
  font-family: 'Raleway';
  background-color: white;
}

.caption:hover{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:20%;
  display:flex;
  flex-direction:column;
  align-items: center;
  opacity:70%;
  font-size: 130%;
  color:black;
  font-style:normal;
  font-family: 'Raleway';
  background-color: white;
}

p.caption{
  width:100%;
  height: 100%;
  margin:0;
  position:absolute;
  top:0;
}
